html {
    font-size: 0.9em;
}
body {
    margin: 10px;
}
/*
#content { 
    width: 78%;
    position:absolute;
    background:#fff;
}
*/
label, .label {
    text-decoration: underline;
}
label {
    display: block;
    width: 200px;
    float: left;
}
pre label {
    width: 100px;
    text-decoration: underline;
}
pre, code {
    white-space: pre-wrap;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
}
code {
    border: 0px;
    background-color: transparent;
    color: black;
    font-style: italic;
    font-size: 1em;
}
img.logo {
     width:80px; 
     max-height:200px; 
     max-width:200px;
     margin-left: -10px;
}
/*
img.browse-graphic {
     width:100%; 
     max-height:100%; 
     max-width:100%;
}
*/
h3 {
    font-weight: bold;
}

@media print {
    html {
        max-height: 297.01 mm;
        max-width: 209.97 mm;
        margin: .8cm 0 2cm 0;
    }
    #content { 
        /*width: 700px;*/
    }
    #menu {
        display:none;
    }
    #page {
        width: 100%;
    }
    #page h3 {
        /*page-break-before: always;
        page-break-after: avoid;*/
    }
    pre {
        /*white-space: pre-wrap;
        page-break-inside: avoid;*/
    }
    /*div {overflow: visible;}*/

    div.uk-grid {
        display: block;
        /*
        overflow: visible;
        page-break-before : avoid;
        page-break-after : avoid;
        */
    }
    div.section {
         page-break-inside: avoid;
    }
}

