<script id="tpl_content" type="text/html" >

        <div class="uk-grid" data-uk-grid-margin>
            <div id="page" class="uk-width-medium-4-6">
                <div class="section">
                    <h1 id="data_title" class="uk-h2">{{md.Data_Title}}</h1>
<pre id="data_abstract" class="">{{md.Data_Abstract}}</pre>
                </div>
                
                
                <div class="section">
                    <h3 id="data_dates" class="uk-h3">Dates</h3>
                    <div>
                        {{#md.Data_Dates.DateCreation}}
                            <label>{{lb.DateCreation_label}}:</label>
                                <span>{{md.Data_Dates.DateCreation}} ({{lb.DateCreation_description}})</span><br />
                        {{/md.Data_Dates.DateCreation}}
                        {{#md.Data_Dates.DatePublication}}
                            <label>{{lb.DatePublication_label}}:</label>
                                <span>{{md.Data_Dates.DatePublication}} ({{lb.DatePublication_description}})</span><br />
                        {{/md.Data_Dates.DatePublication}}
                        {{#md.Data_Dates.DateRevision}}
                            <label>{{lb.DateRevision_label}}:</label>
                                <span>{{md.Data_Dates.DateRevision}} ({{lb.DateRevision_description}})</span><br />
                        {{/md.Data_Dates.DateRevision}}
                    </div>
                    <label>{{lb.Data_MaintenanceFrequency_label}}:</label>
                        <span>{{md.Data_MaintenanceFrequency}}</span>
                    <div><label>Etendue(s) temporelle(s):</label></div>
                    <table class="uk-table">
                        <tr>
                            <td><strong>{{lb.Data_TempExtentName_label}}</strong></td>
                            <td><strong>{{lb.Data_TempExtentBegin_label}}</strong></td>
                            <td><strong>{{lb.Data_TempExtentEnd_label}}</strong></td>
                        </tr>
                        {{#md.Data_TemporalExtents}}
                        <tr>
                            <td>{{Data_ExtentName}}</td>
                            <td>{{Data_TemporalExtent_Begin}}</td>
                            <td>{{Data_TemporalExtent_End}}</td>
                        </tr>
                        {{/md.Data_TemporalExtents}}
                    </table>
                </div>
                
                
                
                
                <div class="section">
                    <h3 id="data_distformat" class="uk-h4">Format de diffusion</h3>
                    <table class="uk-table">
                        <tr>
                            <td><strong>{{lb.Data_DistFormatName_label}}</strong></td>
                            <td><strong>{{lb.Data_DistFormatSpecification_label}}</strong></td>
                            <td><strong>{{lb.Data_DistFormatVersion_label}}</strong></td>
                        </tr>
                        {{#md.Data_DistFormats}}
                        <tr>
                            <td>{{Data_DistFormatName}}</td>
                            <td>{{Data_DistFormatSpecification}}</td>
                            <td>{{Data_DistFormatVersion}}</td>
                        </tr>
                        {{/md.Data_DistFormats}}
                        {{^md.Data_DistFormats}}
                            <tr>
                                <td>{{lb.none}}</td>
                                <td>{{lb.none}}</td>
                                <td>{{lb.none}}</td>
                            </tr>
                        {{/md.Data_DistFormats}}
                    </table>
                </div>
                
                
                <div class="section">
                    <h3 id="data_quality" class="uk-h4">{{lb.Data_LI_Statement_label}}</h3>
<pre>{{md.Data_LI_Statement}}</pre>
                    
                    <h3 id="data_limits" class="uk-h4">Contraintes et limites légales d'accès</h3>
                        <label>{{lb.Data_Classification_label}}:</label> 
                            <span>{{md.Data_Classification}}</span><br />
                        <h4 class="uk-h5">Contraintes d'accès:</h4>
                            <ul>
                            {{#md.Data_AccessOtherConstraints}}
                                <li>{{Data_OtherConstraint}}</li>
                            {{/md.Data_AccessOtherConstraints}}
                            {{#md.Data_AccessRestrictionCodes}}
                                <li>{{Data_RestrictionCode}}</li>
                            {{/md.Data_AccessRestrictionCodes}}
                            {{^md.Data_AccessRestrictionCodes}}
                                <li>{{lb.none}}</li>
                            {{/md.Data_AccessRestrictionCodes}}
                            </ul>
                        <h4 class="uk-h5">Contraintes d'usage:</h4>
                            <ul>
                            {{#md.Data_UseOtherConstraints}}
                                <li>{{Data_OtherConstraint}}</li>
                            {{/md.Data_UseOtherConstraints}}
                            {{#md.Data_UseRestrictionCodes}}
                                <li>{{Data_RestrictionCode}}</li>
                            {{/md.Data_UseRestrictionCodes}}
                            {{^md.Data_UseRestrictionCodes}}
                                <li>{{lb.none}}</li>
                            {{/md.Data_UseRestrictionCodes}}
                            </ul>
                        <h4 class="uk-h5">{{lb.Data_UseLimitation_label}}:</h4>
                            <ul>
                            {{#md.Data_UseLimitations}}
                                <li>{{Data_UseLimitation}}</li>
                            {{/md.Data_UseLimitations}}
                            {{^md.Data_UseLimitations}}
                                <li>{{lb.none}}</li>
                            {{/md.Data_UseLimitations}}
                            </ul>
                </div>            
                <div class="section">
                    <h3 id="data_linkages" class="uk-h4">Données et documents associés</h3>
                    <ul>
                    {{#md.Data_Linkages}}
                        <li><a href="{{Data_LinkageURL}}" class="" title="{{Data_LinkageName}}">{{Data_LinkageDescription}}</a></li>
                    {{/md.Data_Linkages}}
                    {{^md.Data_Linkages}}
                        <li>{{lb.none}}</li>
                    {{/md.Data_Linkages}}
                </div>
                <div class="section">
                    <h3 id="data_contacts" class="uk-h4">Contacts pour les données</h3>
                    {{#md.Data_PointOfContacts}}
                        <div class="uk-grid uk-panel uk-grid-small uk-panel-box" style="margin-left: 20px;">
                            <div class="uk-width-1-5">
                                {{#CntLogo_url}}
                                    <img class="logo" src="{{CntLogo_url}}" alt="{{CntLogo}}" title="{{CntLogo}}" />
                                {{/CntLogo_url}}
                            </div>
                            <div class="uk-width-2-5">    
                                {{#CntOrganism}}<div><strong>{{lb.CntOrganism_label}}: {{CntOrganism}}</strong></div>{{/CntOrganism}}
                                {{#CntName}}<div>{{lb.CntName_label}}: {{CntName}}</div>{{/CntName}}
                                {{#CntFunction}}<div>{{lb.CntFunction_label}}: {{CntFunction}}</div>{{/CntFunction}}
                            </div>
                            <div class="uk-width-2-5"> 
                                {{#CntAddress}}
                                    <div>{{lb.CntAddress_label}}: {{CntAddress}}, {{CntPostalCode}} {{CntCity}}</div>
                                {{/CntAddress}}
                                {{#CntPhone}}<div>{{lb.CntPhone_label}}: {{CntPhone}}</div>{{/CntPhone}}
                                {{#CntEmail}}<div>{{lb.CntEmail_label}}: <a href="mailto:{{CntEmail}}">{{CntEmail}}</a></div>{{/CntEmail}}
                                {{#CntRole}}<div>{{lb.CntRole_label}}: {{CntRole}}</div>{{/CntRole}}
                            </div>
                        </div>
                    {{/md.Data_PointOfContacts}}
                    <hr />
                </div>
                <div class="section">
                    <h3 id="md_contacts" class="uk-h4">Contacts pour les métadonnées</h3>
                    {{#md.MD_Contacts}}
                        <div class="uk-grid uk-panel uk-grid-small uk-panel-box" style="margin-left: 20px;">
                            <div class="uk-width-1-2">    
                                {{#CntOrganism}}<div><strong>{{lb.CntOrganism_label}}: {{CntOrganism}}</strong></div>{{/CntOrganism}}
                                {{#CntName}}<div>{{lb.CntName_label}}: {{CntName}}</div>{{/CntName}}
                                {{#CntFunction}}<div>{{lb.CntFunction_label}}: {{CntFunction}}</div>{{/CntFunction}}
                            </div>
                            <div class="uk-width-1-2"> 
                                {{#CntAddress}}
                                    <div>{{lb.CntAddress_label}}: {{CntAddress}}, {{CntPostalCode}} {{CntCity}}</div>
                                {{/CntAddress}}
                                {{#CntPhone}}<div>{{lb.CntPhone_label}}: {{CntPhone}}</div>{{/CntPhone}}
                                {{#CntEmail}}<div>{{lb.CntEmail_label}}: <a href="mailto:{{CntEmail}}">{{CntEmail}}</a></div>{{/CntEmail}}
                                {{#CntRole}}<div>{{lb.CntRole_label}}: {{CntRole}}</div>{{/CntRole}}
                            </div>
                        </div>
                    {{/md.MD_Contacts}}
                </div>
                
                
                
                
                
                
                
                
                
                
                
                <div class="section">
                    
                </div>
                <div class="section">
                    <h3 id="data_spatialinfos" class="uk-h3">Informations spatiales</h3>
                    <label>{{lb.Data_SpatialRepresentationType_label}}:</label> 
                        <span>{{md.Data_SpatialRepresentationType}} ({{lb.Data_SpatialRepresentationType_description}})</span><br />
                    {{#md.Data_ScaleDenominator}}
                        <label title="{{lb.Data_ScaleDenominator_description}}">{{lb.Data_ScaleDenominator_label}}:</label> 
                            <span>{{md.Data_ScaleDenominator}}</span><br />
                    {{/md.Data_ScaleDenominator}}
                    {{#md.Data_ScaleDistance}}
                        <label title="{{lb.Data_ScaleDistance_description}}">{{lb.Data_ScaleDistance_label}}:</label> 
                            <span>{{md.Data_ScaleDistance}}</span><br />
                    {{/md.Data_ScaleDistance}}
                    <div><span class="label">{{lb.Data_ReferenceSystemCode_label}}:</span>
                        <ul>
                        {{#md.Data_ReferenceSystems}}
                            <li>{{Data_ReferenceSystemCode}}</li>
                        {{/md.Data_ReferenceSystems}}
                        </ul>
                    </div>
                    <h3 id="data_extents" class="uk-h5">Emprise géographique</h3>
                    <table class="uk-table">
                        <tr>
                            <td><strong>{{lb.Data_ExtentName_label}}</strong></td>
                            <td><strong>{{lb.Data_ExtentNorthbound_label}}</strong></td>
                            <td><strong>{{lb.Data_ExtentSouthbound_label}}</strong></td>
                            <td><strong>{{lb.Data_ExtentEastbound_label}}</strong></td>
                            <td><strong>{{lb.Data_ExtentWestbound_label}}</strong></td>
                        </tr>
                        {{#md.Data_GeographicExtents}}
                        <tr>
                            <td>{{Data_ExtentName}}</td>
                            <td>{{Data_ExtentNorthbound}}</td>
                            <td>{{Data_ExtentSouthbound}}</td>
                            <td>{{Data_ExtentEastbound}}</td>
                            <td>{{Data_ExtentWestbound}}</td>
                        </tr>
                        {{/md.Data_GeographicExtents}}
                    </table>

                </div>
                
                
                <div class="section">   
                    <h3 id="data_keywords" class="uk-h4">Mots-clés</h3>
                    <label>{{lb.Data_TopicCategories_label}}:</label>
                    {{#md.Data_TopicCategories}}
                        {{Data_TopicCategory}} |
                    {{/md.Data_TopicCategories}}
                    {{^md.Data_TopicCategories}}
                        {{lb.none}}
                    {{/md.Data_TopicCategories}}
                    <br />
                    <div>
                    {{lb.Data_Keywords_label}}:
                        <ul>
                        {{#md.Data_Keywords}}
                            <li>{{Data_Keyword}} ({{Data_KeywordType}} - {{Data_ThesaurusName}})
                                {{#Data_ThesaurusDates.DateCreation}}
                                <div>{{lb.DateCreation_label}}: {{Data_ThesaurusDates.DateCreation}} ({{lb.DateCreation_description}})</div>
                                {{/Data_ThesaurusDates.DateCreation}}
                                {{#Data_ThesaurusDates.DatePublication}}
                                    <div>{{lb.DatePublication_label}}: {{Data_ThesaurusDates.DatePublication}} ({{lb.DatePublication_description}})</div>
                                {{/Data_ThesaurusDates.DatePublication}}
                                {{#Data_ThesaurusDates.DateRevision}}
                                    <div>{{lb.DateRevision_label}}: {{Data_ThesaurusDates.DateRevision}} ({{lb.DateRevision_description}})</div>
                                {{/Data_ThesaurusDates.DateRevision}}
                            </li>
                        {{/md.Data_Keywords}}
                        </ul>
                    {{^md.Data_Keywords}}
                        {{lb.none}}
                    {{/md.Data_Keywords}}
                    </div>
                    <hr />
                </div>
                <div class="section">    
                    <h3 id="data_sup" class="uk-h4">Informations complémentaires</h3>
                    <div>{{lb.Data_IdentifierCode_label}}</div>
                    <ul>
                    {{#md.Data_Identifiers}}
                        <li>{{Data_Code}} ({{Data_CodeSpace}})</li>
                    {{/md.Data_Identifiers}}
                    </ul>
                    <label>{{lb.Data_Language_label}}:</label>
                        {{#md.Data_Languages}}
                            {{Data_Language}} |
                        {{/md.Data_Languages}}
                    <br />
                    <label>{{lb.Data_CharacterSet_label}}:</label>
                        {{md.Data_CharacterSet}}<br />
                    <hr />	
                </div>
                <div class="section">    
                    <h3 id="md_infos" class="uk-h4">Informations sur la fiche</h3>
                        <label title="{{lb.MD_FileIdentifier_description}}">{{lb.MD_FileIdentifier_label}}:</label>
                            <span>{{md.MD_FileIdentifier}}</span><br />
                        <label>{{lb.MD_Language_label}}:</label>
                            <span>{{md.MD_Language}}</span><br />
                        <label>{{lb.MD_CharacterSet_label}}:</label>
                            <span>{{md.MD_CharacterSet}}</span><br />
                        <label>{{lb.MD_HierarchyLevel_label}}:</label>
                            <span>{{md.MD_HierarchyLevel}}</span><br />
                        <label>{{lb.MD_DateStamp_label}}:</label>
                            <span>{{md.MD_DateStamp}}</span><br />
                        <label>{{lb.MD_StandardName_label}}:</label>
                            <span>{{md.MD_StandardName}} ({{md.MD_StandardVersion}})</span><br />
                    <hr />
                </div>
                
            </div>
            <div id="sidebar" class="uk-width-medium-2-6 uk-hidden-small">
                <div class="uk-panel uk-panel-box">
                    {{#md.Data_SpatialRepresentationType}}
                        <span title="{{Data_SpatialRepresentationType}}" class="uk-badge uk-align-right">{{md.Data_SpatialRepresentationType}}</span>
                    {{/md.Data_SpatialRepresentationType}}
                    {{#md.Data_BrowseGraphics}}
                        <div>
                            <img class="browse-graphic uk-align-left" src="{{Data_BrowseGraphic_Name}}" alt="{{Data_BrowseGraphic_Description}}" title="{{Data_BrowseGraphic_Description}}">
                        </div>
                    {{/md.Data_BrowseGraphics}}
                    <br />
                    {{#md.Data_ScaleDenominator}}
                        <span>Echelle: </span><code>1/{{md.Data_ScaleDenominator}}</code><br />
                    {{/md.Data_ScaleDenominator}}
                    {{#md.Data_ScaleDistance}}
                        <span>Résolution: </span><code>{{md.Data_ScaleDistance}} mètre(s)</code><br />
                    {{/md.Data_ScaleDistance}}
                    {{#md.Data_ReferenceSystems}}
                        <span>Projection: </span><code>{{Data_ReferenceSystemCode}}</code><br />
                    {{/md.Data_ReferenceSystems}}
                    <span>Emprise:</span>
                    {{#md.Data_GeographicExtents}}
                        <code title="S:{{Data_ExtentSouthbound}}, N:{{Data_ExtentNorthbound}}, W:{{Data_ExtentWestbound}}, E:{{Data_ExtentEastbound}}">{{Data_ExtentName}}</code><br />
                    {{/md.Data_GeographicExtents}}
                    {{#md.Data_TopicCategories}}
                        <span title="{{Data_TopicCategory}}" class="uk-badge uk-align-left uk-margin-small uk-badge-warning">{{Data_TopicCategory}}</span>
                    {{/md.Data_TopicCategories}}
                    {{#md.Data_Keywords}}
                        <span title="{{Data_Keyword}}" class="uk-badge uk-align-left uk-margin-small">{{Data_Keyword}}</span>
                    {{/md.Data_Keywords}}
                    
                </div>
            </div>
        </div>

        <div class="uk-grid" data-uk-grid-margin>
            <div id="footer" class="uk-width-1-1 uk-margin-top">
                <span class="uk-icon-globe"></span>
                {{app.title}}
                <span class="uk-align-right"><small>{{app.name}} {{app.version}} - (c) Guillaume Ryckelynck / CIGAL 2014 </small></span>
            </div>
        </div>


    
    <!--
    <div id="offcanvas" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas" data-uk-scrollspy-nav="{closest:'li', smoothscroll:true}">
                <li class="uk-nav-header">For Beginners</li>
                <li class="uk-active"><a href="#getstarted">Get Started</a></li>
                <li class=""><a href="#templatesettings">Template Settings</a></li>
                <li class=""><a href="#customizer">Customizer</a></li>
                <li class="uk-nav-header">For Developers</li>
                <li class=""><a href="#customization">Customizaton</a></li>
                <li class=""><a href="#troubleshooting">Troubleshooting</a></li>
                <li class="uk-nav-divider"></li>
                <li class=""><a href="#faq"><i class="uk-icon-info-circle uk-margin-small-right"></i>FAQ</a></li>
            </ul>
        </div>
    </div>
    -->
    
            
</script>
